*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	text-decoration: none;
}

#header{
	width: 98%;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	border-bottom: 2px dashed #000;
}

#info{
	width: 400px;
	height: 100px;
	float: right;
	border: 1px dashed #000;
}

#main{
	width: 1000px;
	margin: 5px auto;
	border: 2px dashed #000;
}

#nav-bar{
	width: 300px;
	height: 500px;
	margin: 25px 0 0 20px;
	float: left;
	border: 1px dashed #000;
}

.nav-button{
	width: 250px;
	height: 80px;
	margin: 10px auto;
	border: 1px dashed #000;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}

#content{
	width: 650px;
	min-height: 500px;
	margin: 25px 0 25px 330px;
	border: 1px dashed #000;
}

.inner-content{
	width: 650px;
	height: 500px;
	display: none;
}

#footer{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	border: 2px dashed #000;
}

#settings{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #ddd;
}

.areas{
	width: 200px;
	margin: 5px;
	border: 2px dashed #000;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

.buttons{
	padding: 2px;
	border: 1px dashed #000;
	cursor: pointer;
}
.buttons:hover{
	background: #aaa;
}

.showFrame{
	cursor: pointer;
}

#frameDiv{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	display: none;
}

#iframe{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	background: #fff;
	overflow: auto;
}

.if-button{
	width: 80px;
	height: 80px;
	float: right;
	cursor: pointer;
}

#close-button{
	background: url(../images/close.png);
}
#forward-button{
	background: url(../images/forward.png);
}
#back-button{
	background: url(../images/back.png);
}
