*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	text-decoration: none;
}

#header{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	border-bottom: 2px dotted #000;
	text-align: center;
}

#login{
	width: 300px;
	height: 80px;
	float: right;
	margin: 8px 100px 0 0;
	border: 2px dotted #000;
	line-height: 28px;
}

#main{
	width: 980px;
	margin: 10px auto;
	border: 2px dotted #000;
}

.board{
	width: 940px;
	height: 200px;
	margin: 20px auto;
	border: 2px dotted #000;
}

.board-logo{
	width: 160px;
	height: 160px;
	margin: 20px 0 0 60px;
	float: left;
	background: #ddd;
}

.top-posts{
	width: 500px;
	height: 180px;
	margin: 10px 60px 0 0;
	float: right;
	background: #ddd;
}

#footer{
	width: 980px;
	height: 100px;
	margin: 10px auto;
	border: 2px dotted #000;
}