<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后台管理 - HCI技术论坛</title>
	<link rel="stylesheet" href="/HCI-forum/stylesheets/admin.css" />
</head>
<body>
	<div id="header">
		<a href="/HCI-forum"><img src="/HCI-forum/images/logo.png" alt="logo" /></a>
		<div id="info">
			<h4>当前共有：&nbsp;&nbsp;&nbsp;&nbsp;</h4>
			<p>板块&nbsp;<span id="areaNum"></span>&nbsp;个</p>
			<p>专题&nbsp;<span id="boardNum"></span>&nbsp;个</p>
			<p>帖子&nbsp;<span id="postNum"></span>&nbsp;条</p>
			<p>用户&nbsp;<span id="usrNum"></span>&nbsp;人</p>
		</div>
	</div>
	<div id="main">
		<div id="nav-bar">
			<a href="?action=1"><div class="nav-button">帖子审核</div></a>
			<a href="?action=2"><div class="nav-button">模块管理</div></a>
			<a href="?action=3"><div class="nav-button">版主管理</div></a>
		</div>
		<div id="content">