<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>板块</title>
	<link rel="stylesheet" href="../stylesheets/board.css" />
</head>
<body>
	<div id="body">
		<div id="header">
			<img src="../images/logo.png" alt="logo" />
		</div>
		<div id="nav">
			<ul>
				<li>
					<a href="" class="list-a"></a>
				</li>
				<li>
					<a href="" class="list-a"></a>
				</li>
				<li>
					<a href="" class="list-a"></a>
				</li>
				<li>
					<a href="" class="list-a"></a>
				</li>
				<li>
					<a href="" class="list-a"></a>
				</li>
			</ul>
		</div>
		<div id="list">
			<div id="setting"></div>
			<ul>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="list-a">
						<div class="post-link">
							<span class="title">·</span>
							<span class="time">July 14,2013</span>
							<span class="reply-num">8/40</span>
						</div>
					</a>
				</li>
			</ul>
			<div id="jump">
				<a href="">上一页</a>
				<a href="">下一页</a>
				<select name="" id="">
					<option value="1">
						<a href="">第一页</a>
					</option>
					<option value="2">
						<a href="">第二页</a>
					</option>
					<option value="3">
						<a href="">第三页</a>
					</option>
					<option value="4">
						<a href="">第四页</a>
					</option>
				</select>
			</div>
		</div>
		<div id="totop">↑</div>
		<div id="footer"></div>
	</div>
</body>
</html>