<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>帖子</title>
	<link rel="stylesheet" href="../css/post.css" />
</head>
<body>
	<div id="body">
		<div id="header">
			<img src="../img/logo.png" alt="logo" />
		</div>
		<div id="main">
			<div id="msg"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div class="comment"></div>
			<div id="control-panel">+</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>