<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="../stylesheets/register.css" />
</head>
<body>
	<div id="main">
		<form action="/HCI-forum/Controller/register.php" method="post">
			<label for="userName">用户名：</label>
			<input type="text" name="userName"/><br />
			<label for="pwd">密码：</label>
			<input type="password" name="pwd"/><br />
			<label for="pwd_confirm">确认密码：</label>
			<input type="password" name="pwd_confirm"/><br />
			<input type="submit" name="sub"/>&nbsp;&nbsp;<input type="reset" />
		</form>
	</div>
</body>
</html>